<div class="container d-flex flex-row " style="padding-top:200px;">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="d-flex flex-column form-group flex-fill">
      <label>Nom</label>
      <input formControlName="nom" type="text"/>
    </div>
      <div class="d-flex flex-column form-group">
        <label for="email">Email</label>
        <input formControlName="email" type="email" name="email"/>
      </div>
    <div class="d-flex flex-column form-group">
      <label>Male
      <input formControlName="gender" type="radio" value="Male"/>
      </label>
      <label>Female
        <input formControlName="gender" type="radio" value="Female"/>
      </label>
    </div>
    <div class="d-flex flex-column form-group">
      <label>Etes-vous majeur?
        <input formControlName="majeur" type="checkbox"/>
      </label>

    </div>
    <div formArrayName="hobbies" class="d-flex flex-column form-group flex-fill">
      <label>Hobby</label>
      <button type="button" class="btn btn-primary" (click)="addHobby()">Ajouter Hobby</button>
      <input [formControlName]="i" *ngFor="let hobby of hobbies.controls; let i=index" name="email"/>
    </div>
      <div class="d-flex flex-column form-group">
        <label>Password</label>
        <input formControlName="password" type="password"/>
      </div>

    <div class="d-flex flex-column form-group">
      <label>Confirm Password</label>
      <input #confirmation type="password"/>
    </div>
    <div class="d-flex flex-column form-group">
      <select formControlName="city">
        <option *ngFor="let city of cities;let index=index" [value]="city.value">{{city.label}}</option>
      </select>

    </div>
    <button class="btn btn-primary" style="margin-top:20px;" (click)="valider()">Valider</button>
  </form>

</div>
